.profile {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (max-width: 716px) {
    .profile{
        flex-direction: column;
        margin-bottom: 36px;
        max-width: 100%;

        
    }
}
