.popup__edit-form {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-left: 36px;
}
@media screen and (max-width: 462px) {
    .popup__edit-form{
        margin: 0 auto;
        max-width: 238px;
    }
}