.popup__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px auto 0 36px;
    position: absolute;
    z-index: 2;
    color: black;
}
@media screen and (max-width: 462px) {
    .popup__title {
        margin-top: 25px;
        font-size: 18px;
        line-height: 22px;
        margin-left: 22px;
        padding: 0;

    }
}